@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/tomato.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/red.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/crimson.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/pink.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/plum.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/purple.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/violet.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/indigo.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blue.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blueA.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/cyan.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/teal.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/green.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/grass.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/orange.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/brown.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/sky.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/mint.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/lime.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/yellow.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/amber.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/tomatoDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/redDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/crimsonDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/pinkDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/plumDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/purpleDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/violetDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/indigoDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blueDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/cyanDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/tealDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/greenDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/grassDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/orangeDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/brownDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/skyDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/mintDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/limeDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/yellowDark.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/amberDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/grayDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/mauve.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/mauveDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/olive.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/oliveDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/sage.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/sageDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/slate.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/slateDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/sand.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/sandDark.css");

@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blackA.css");
@import url("https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/whiteA.css");

html {
  /* height: 100%; */
  /* background-color: theme("colors.gray.1"); */
  @apply bg-gray-2 dark:bg-gray-1;
  @apply text-gray-12;
}
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  /* margin-top: 2em; */
}

input {
  @apply w-full rounded-lg text-gray-12 bg-gray-3 focus:bg-gray-2 focus:outline-none;
  @apply placeholder-gray-11;
  @apply border border-gray-6;
  @apply focus:border-primary-8;
  @apply px-4 py-2;
}

.app-bar {
  /* bottom: offset; */
}

.button {
  background-color: var(--blue4);
  color: var(--blue11);
  border-color: var(--blue7);
}
.button:hover {
  background-color: var(--blue5);
  border-color: var(--blue8);
}

.badge {
  @apply border rounded-full shadow-md whitespace-nowrap;
}

.badge-xs {
  @apply px-2 py-1 text-xs;
}
