body {
  @apply bg-gray-200
}

.app {
  @apply flex justify-center w-screen
}

.btn {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 m-2 rounded
}

.btn:hover {
  @apply bg-indigo-400
}

.btn:focus {
  @apply outline-none shadow-outline
}

.attached-left {
  @apply rounded-l-none ml-0 h-full my-0
}

.attached-right {
  @apply rounded-r-none mr-0 h-full my-0
}

.btn-group>.btn {
  @apply border-indigo-700 mx-0
}

.btn-group>.btn:first-child {
  @apply rounded-l rounded-r-none border-r-2
}

.btn-group>.btn:last-child {
  @apply rounded-r rounded-l-none border-l-2
}

.btn-group>.btn:not(:first-child):not(:last-child) {
  @apply rounded-none border-l-2 border-r-2
}

.badge {
  @apply inline-block bg-indigo-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 px-6
}

.badge-gray {
  @apply inline-block bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 px-6
}

input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

input:focus {
  @apply outline-none border-indigo-500
}

/* form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4
} */

.form-field {
  @apply mb-4
}

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2
}

.form-container {
  min-width: 400px;
  @apply my-16 w-1/2
}

.landing-container {
  min-width: 500px;
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center
}

h1 {
  @apply font-semibold text-2xl
}